packages:
  remote_package:
    url: https://github.com/Pimmeke1989/Voice-Satellite
    ref: main
    files:
      - config/common/voice-base.yaml
    refresh: 300s

ota:
  - platform: http_request
    id: ota_http_request

http_request:
  buffer_size_rx: 8192
  buffer_size_tx: 8192

update:
  - platform: http_request
    name: Firmware Update
    update_interval: 10min
    source: https://raw.githubusercontent.com/Pimmeke1989/Voice-Satellite/refs/heads/main/ota/manifest.json

dashboard_import:
  package_import_url: github://Pimmeke1989/Voice-Satellite/config/common/voice-base.yaml@main

wifi:
  ap:
    ssid: "LumiTone S1"
  on_connect:
    - delay: 5s 
    - script.execute: control_leds

captive_portal:

improv_serial:

switch:
  - platform: template
    id: beta_firmware
    name: Beta firmware
    icon: "mdi:test-tube"
    disabled_by_default: true
    entity_category: config
    optimistic: true
    restore_mode: RESTORE_DEFAULT_OFF
    on_turn_on:
      - logger.log: "OTA updates set to use Beta firmware"
      - lambda: id(update_http_request).set_source_url("https://raw.githubusercontent.com/Pimmeke1989/Voice-Satellite/refs/heads/main/ota/manifest-beta.json");
      - component.update: update_http_request
    on_turn_off:
      - logger.log: "OTA updates set to use Production firmware"
      - lambda: id(update_http_request).set_source_url("https://raw.githubusercontent.com/Pimmeke1989/Voice-Satellite/refs/heads/main/ota/manifest.json");
      - component.update: update_http_request